# Use this file to install initial packages
# pip3 install -r requirements.txt

# Sphinx
Sphinx==2.2.0

# Initial Theme
sphinx-rtd-theme==0.4.3

# Markdown Support
recommonmark==0.6.0

# Additional Plugins Not Installed Automatically
sphinx-autobuild
sphinxcontrib-httpdomain
sphinxcontrib-newsfeed
sphinxcontrib-spelling
sphinxcontrib-websupport