{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="TkjceNtwo7upCQl_gx8Zmhhp9tCmc08LitZGuvQ1Eb8" />
<link rel="icon" sizes="16x16 32x32" href="/_static/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Roboto:400,700&display=swap">

<!-- algolia search styling -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<style>
  /* override rtd theme css for algolia search */
  .wy-nav-side,
  .wy-side-scroll {
    overflow-x: visible;
    overflow-y: visible;
  }

  .algolia-autocomplete {
    width: 100%;
  }
</style>
{% endblock %}


{% block footer %}
{{ super() }}
<script>
  var logo = '<img src="/_static/patric_logo.png" class="logo" alt="Logo">';
  var home = '<div class="branding"><a href="https://patricbrc.org" title="PATRIC Homepage">PATRIC Home</a> &rsaquo; <a href="/" title="PATRIC Documentation">Docs</a></div>';
  $(".wy-side-nav-search").prepend(home).prepend(logo);
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11736060-11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-11736060-11');
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11736060-7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-11736060-7', {
        'link_attribution': true
    });
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
  docsearch({
    apiKey: '6620e5f4c72844d992f79a6315b0c3a5',
    indexName: 'patricbrc',
    inputSelector: '#search-input',
    debug: true // Set debug to true if you want to inspect the dropdown
  });
</script>
{% endblock %}
